<div class="page-lead">
  <div class="page-heading">

  </div>
  <div class="page-actions"></div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content">

    <h3>Surveys</h3>
    <p>May 2017 Community Survey</p>
    <p><a href="/surveys/may-2017">See the Results</a></p>
    <p><a href="<%= take_survey_path "may-2017" %>">Take the Survey</a></p>

    <h3>Open Letters</h3>
    <p>Read the latest open letters from the Swampscott Community Members</p>

  </div>
</div>
