<div class="page-lead">
  <div class="page-heading">

  </div>
  <div class="page-actions"></div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content container">

    <div class="callout">
      <h3>Surveys</h3>
      <p>May 2017 Community Survey</p>
      <p>
        <a class="button button-primary" href="<%= survey_path "may-2017" %>">See the Results</a>
        <a class="button" href="<%= take_survey_path "may-2017" %>">Take the Survey</a>
      </p>
    </div>

  </div>
</div>
