<div class="callout">
  <h3>Getting Started</h3>

  <p>Any Swampscott community member is welcome to share their perspective with an open letter.</p>
  
  <p>To prevent fraud and abuse, a valid Facebook account is required.</p>

  <p><a class="button button-primary" href="<%= user_facebook_omniauth_authorize_path %>">Log in</a></p>
</div>
