<div class="page-lead">
  <div class="page-heading">

  </div>
  <div class="page-actions"></div>
</div>

<div class="page-main">
  <div class="page-content container">
    <%= render "layouts/alerts" %>

    <% if current_user.present? %>
      <%= render "open_letters/form" %>
    <% else %>
      <%= render "open_letters/login" %>
    <% end %>
  </div>
</div>
