<div class="page-lead">
  <div class="page-heading">

  </div>
  <div class="page-actions"></div>
</div>

<%= render "layouts/alerts" %>

<div class="page-main">
  <div class="page-content container">
    <%= @open_letter.title %>
    <%= @open_letter.body %>
  </div>
</div>
