.question-radio-label {
  float:left;
  width: 40%;
}

.question-radio-buttons {
  float:left;
  width: 60%;

  label {
    font-family: sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
