@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Merriweather';

html, body {
  background: #fff;
  color: #444;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%;
}

h1, h2 {
  font-family: "Merriweather", serif;
}

h3, h4, h5, h6 {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 3px;
  margin: 0 0 2em 0;
  text-transform: uppercase;
}

a {
  color: #9d1e9e;

  &:hover{
    color: #9d1e9e;
  }
}

.button,
.button-primary {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

label,
legend {
  display: inline-block;
  font-weight: normal;
}

textarea {
  height: auto;
}

ul li {
  list-style: circle inside;
  margin: 0px;
  padding: 0px 0px 0px 1em;
}

.page-container {
  background: #fff;
}

.page-header {
  align-self: stretch;
  box-shadow: 0px 0px 10px 3px rgba(143, 167, 211, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;

  h1, h2 {
    color: #92a8d1;
    font-size: 1.25rem;
    margin-bottom: 0;

    a {
      color: #92a8d1;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.page-alerts {
  padding: 2rem 2rem;

  .uk-alert {
    margin: 0 0 15px 0;

    &:last-child {
      margin: 0;
    }
  }

  .uk-alert-danger {
    background: #fff6f9;
    border: 1px solid #fbd3e2;
    color: #ec678a;
  }

  .uk-alert-primary {
    background: #f1f8ff;
    border: 1px solid #c6e3ff;
    color: #589ee4;
  }

  .uk-alert-success {
    background: #f7fff9;
    border: 1px solid #b9f1c4;
    color: #59b16b;
  }
}

.page-main {

}

.page-content {

  .document-list {
    list-style: none;
    margin: 0;
    padding: 0;

    h3 {
      margin: 0;
    }

    .document-tags {
      margin: 15px 0 0 0;

      .tag:after {
        content: ",";
      }

      .tag:last-child:after {
        content: "";
      }
    }

    li {
      border-bottom: 1px solid #e2e2e2;
      padding: 30px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .user-image {
    border-radius: 500px;
    background-size: cover;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 35px;
    width: 35px;
  }
}

.page-sidebar {
  font-size: 0.875rem;
  margin-left: 45px;
  min-width: 200px;
  position: relative;
  max-width: 400px;
  width: 30%;

  h4 {
    margin-top: 0;
  }

  li {
    margin-left: 0px;
  }
}

.page-footer {
  background-color: #92a8d1;
  background-image: -webkit-linear-gradient(0deg, #82a2de 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(0deg, #82a2de 0%, rgba(0, 0, 0, 0) 100%);

  color: #fff;
  padding: 4rem 2rem;
  text-align: center;

  h3 {
    color: #fff;
    margin-bottom: 2rem;
  }
}
