<h3>Log In</h3>

<p>The first step to take the May 2017 survey is to log in.</p>

<p><a class="button" href="<%= user_facebook_omniauth_authorize_path %>">Log in</a></p>

<h5>Why Facebook?</h5>

<p>Facebook is a leader in providing strong communities. Requiring a facebook login helps prevent fraud and ensures everyone's input is weighed equally.</p>

<p>We ask for the minimal amount of personal data - your email and name. Personal information will never be shared with anyone.</p>

<p>Survey results will always be presented as groups, no one will ever be singled out.</p>

<p>Survey results will always remain open to the public without signing in.</p>
