<div class="callout">
  <h3>Getting Started</h3>

  <p>The first step to take the May 2017 survey is to log in with Facebook.</p>

  <p><a class="button button-primary" href="<%= user_facebook_omniauth_authorize_path %>">Log in</a></p>
</div>

<p><small>Personal information will never be shared. Responses will always be presented anonymously and in groups.</small></p>
