<script>
  var dataByQuestion = <%= raw @results_by_question.to_json %>
  var dataByAnswer = <%= raw @results_by_answer.to_json %>
  var dataByGroup = <%= raw @results_by_group.to_json %>
  var userGroups = <%= raw User.groups.to_json %>

  var getResultsByQuestion = function(question) {
    return dataByQuestion[question]
  }

  var getResultsByAnswer = function(question, answer) {
    var key = [question, answer].join(":")

    return dataByAnswer[key]
  }

  var getResultsByGroup = function(question, answer, group) {
    var groupId = userGroups[group]
    var key = [question, answer, groupId].join(":")

    return dataByGroup[key]
  }

  var getAnswerPercent = function (question, answer) {
    var total = getResultsByQuestion(question)
    var local = getResultsByAnswer(question, answer)

    return (local/total) * 100 || 0
  }
</script>

<script>
  var chartRadioDataset = function (questions, labels) {
    return [
      {
        label: "Strongly Disagree",
        data: _.map(questions, function(question) {
          return getAnswerPercent(question, "5")
        }),
        backgroundColor: "rgb(255, 92, 73)",
        stack: "stack0"
      },
      {
        label: "Disagree",
        data: _.map(questions, function(question) {
          return getAnswerPercent(question, "4")
        }),
        backgroundColor: "rgb(254, 133, 0)",
        stack: "stack0"
      },
      {
        label: "Neutral",
        data: _.map(questions, function(question) {
          return getAnswerPercent(question, "3")
        }),
        backgroundColor: "rgb(254, 213, 0)",
        stack: "stack0"
      },
      {
        label: "Agree",
        data: _.map(questions, function(question) {
          return getAnswerPercent(question, "2")
        }),
        backgroundColor: "rgb(149, 209, 60)",
        stack: "stack0"
      },
      {
        label: "Strongly Agree",
        data: _.map(questions, function(question) {
          return getAnswerPercent(question, "1")
        }),
        backgroundColor: "rgb(0, 170, 94)",
        stack: "stack0"
      }
    ]
  }

  var chartRadioResults = function(id, questions, labels) {
    var ctx = document.getElementById(id)
    new Chart(ctx, {
      type: "horizontalBar",
      data: {
        labels: labels,
        datasets: chartRadioDataset(questions)
      },
      options: {
        scales: {
          xAxes: [{
            display: true,
            stacked: true,
          }],
          yAxes: [{
            display: true,
            stacked: true
          }]
        },
        tooltips: {
          mode: "index"
        }
      }
    })
  }

</script>

<h2>Benefits</h2>

<p>I value the potential...</p>
<canvas id="pros" width="400" height="150"></canvas>

<h2>Concerns</h2>

<p>I am concerned about potential... </p>
<canvas id="cons" width="400" height="180"></canvas>

<script>
  chartRadioResults(
    "pros",
    [
      "pro_tourism",
      "pro_property_values",
      "pro_personal_use",
      "pro_transportation",
      "pro_cleanup_land"
    ],
    [
      "Increase in tourism",
      "Increase in town-wide property values",
      "Recreational space",
      "Transportation path",
      "Beautification of land"
    ]
  )

  chartRadioResults(
    "cons",
    [
      "con_property_value",
      "con_loss_of_land",
      "con_privacy",
      "con_safety",
      "con_building_costs",
      "con_maintenance_costs"
    ],
    [
      "Decrease in my property value",
      "Loss of land",
      "Privacy",
      "Safety and Security",
      "Initial planning and building costs",
      "Long term maintenance costs"
    ]
  )
</script>
