<div class="page-footer">

  <h4>About</h4>

  <p>This site provides a platform for Swampscott community members to share their views on the Swampscott Rail Trail.</p>

  <p>Run by Swampscott community members, this website is not affiliated with the town government.</p>

  <p>Opinions expressed on the site are those of the individual contributors.</p>

  <p>Contact us at <a href="mailto:&#104;&#101;&#108;&#112;&#064;&#115;&#119;&#097;&#109;&#112;&#115;&#099;&#111;&#116;&#116;&#114;&#097;&#105;&#108;&#116;&#114;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#104;&#101;&#108;&#112;&#064;&#115;&#119;&#097;&#109;&#112;&#115;&#099;&#111;&#116;&#116;&#114;&#097;&#105;&#108;&#116;&#114;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>.</p>

</div>
