<div class="page-footer">

  <h3>About</h3>

  <p>The goal of the site is give fellow Swampscott community members a platform to share their views on the Swampscott Rail Trail.</p>

  <p>Created by private residents of Swampscott, this website is not affiliated with the town government.</p>

  <p>Opinions expressed on the site are those of the individual contributors.</p>

</div>
