<div class="page-header">
  <h1><a href="/">Swampscott Rail Trail</a></h1>
  <a class="login-link" href="<%= user_facebook_omniauth_authorize_path %>">
    <span uk-icon="icon: facebook"></span>
    Log in with Facebook
  </a>
</div>
