
    <title>Swampscott Rail Trail</title>
    <%= csrf_meta_tags %>

    <%# <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %1> %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>

